{% load static %}
<div class="topg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">지식인</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/question">질문하기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/answer">답변하기</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item">
                    <a class="nav-link" href="register/">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
