{% load static %}
<div class="footer__all">
    <section class="grass"></section>
    <section class="black">
        <!-- Footer-->
        <footer id="footer" class="black">
            <div class="footer-div">
                <p class="m-0 footer-text">OG-LAB</p>
            </div>
            <div class="footer-div">
                <p class="footer-text m-0">궁금한 점을 문의해보세요.</p>
            </div>
            <div class="footer-div">
                <p class="footer-text m-0">dltmd202@gmail.com</p>
                <p class="footer-text m-0">patkim97@gmail.com</p>
                <p class="footer-text m-0">cogh7828@naver.com</p>
                <p class="footer-text m-0">yeheun004@gmail.com</p>
            </div>
            <div class="footer-div">
                <p class="footer-text address">충청남도 천안시 동남구 병천면</p>
                <p class="footer-text address">충절로 1600</p>
                <p class="footer-text">+82 010 3706 5337</p>
            </div>
        </footer>
    </section>
</div>