{% load static %}

<footer class="" style="background-color: #0c89aa">
    <div align="left">
        <div class="footer-div" style="float: left">
            <p class="m-0 footer-text" style="font-size: medium">지식인</p>
        </div>
        <div class="footer-div" style="float: left">
            <p class="footer-text m-0">궁금한 점을 문의해보세요.</p>
            <p class="footer-text m-0">dltmd202@gmail.com</p>
        </div>
        <div class="footer-div">
            <p class="footer-text" style="color: white">충청남도 천안시 동남구 병천면
                <br>충절로 1600
                <br>+82 010 3706 5337
            </p>
        </div>
    </div>
</footer>