{% load  static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>KnowSharing</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/footer.css' %}">
</head>
<body>
    {% include 'home/navbar.html' %}
    <section class="KnowSharing" id="home">
        <div class="textBx">
            <h2>likelion<br><span>KnowSharing</span></h2>
            <h3>지식 나눔 사이트</h3>
        </div>
    </section>
<!--질문-->
    <section class="질문자" id="ask">
        <div class="ask">
            <h2>궁금한 내용 질문하기</h2>
        </div>
        <div class="content">
            <div class="contentBx w50">
                <br>
                <h3>어떻게 질문하나요?</h3>
                <p>먼저 회원가입을 하고 질문자로 등록을 합니다. 아래의 버튼을 눌러 질문하러 갑시다~!<br><br>
                    <button class="btn" type="button" >질문하러가기</button>
                    <br><br><br><br></p>
                <h3>질문자이지만 답변도 할 수 있나요?</h3>
                <p>당연하죠! 회원가입에서 답변자의 자격으로 등록하거나, 아래의 질문자 도와주기 부분을 참고하세요! </p>
            </div>
            <div class="w50">
                <div class="img"></div>
            </div>
        </div>
    </section>
<!--답변-->
    <section class="답변자" id="answer" style="padding-bottom: 0px;">
        <div class="answer">
            <h2>질문자 도와주기</h2>
        </div>
        <div class="content">
            <div class="w51">
                <div class='img1'></div>
            </div>
            <div class="contentBx1 w51">
                <br><br><br>
                <h3>어떻게 돕나요?</h3>
                <p>먼저 회원가입을 하고 답변자로 등록을 합니다. 등록시에는 별도의 인증절차가 있습니다.<br><br><br><br></p>
                <h3>도우면 좋은점이 있나요?</h3>
                <p>물론입니다! 질문에 성실히 답변을 하면 KnowSharing에서 코인을 지급하는데, 일정수준의 코인이 모이면 돈으로 환전 가능합니다 </p>
            </div>
            
        </div>
    </section>

    {% include 'home/footer.html' %}


    <script src="{% static 'home/js/scripts.js' %}"></script>
    </body>
</html>
