

<header>
    <a href="{% url 'home' %}" class="logo">KnowSharing</a>
    <div class="toggle" onclick="toggleMenu();"></div>
    <!--상단바 메뉴-->
    <ul class="menu">
        <li style="height: 30px; margin-right: 5px;">
            <input class="form-control" id="search-input" type="search" placeholder="Search" aria-label="Search" style="vertical-align: middle; height: 20px; font-size: 16px;">
        </li>
        <li><button class="button search-button" onclick="searchQuestion()">검색</button></li>
        <li><a href="{% url 'question_main' %}" onclick="toggleMenu()">질문자</a></li>
        <li><a href="#answer" onclick="toggleMenu()">답변자</a></li>
        {% if user.is_authenticated %}
        <li><a href="" onclick="notYet()">결제</a></li>
        <li><a href="{% url 'mypage' %}" onclick="toggleMenu()">{{ user }}</a></li>
        {% else %}
        <li><a href="{% url 'register' %}" onclick="toggleMenu()">회원가입</a></li>
        <li><a href="{% url 'login' %}" onclick="toggleMenu()">로그인</a></li>
        {% endif %}
    </ul>
    <script>
        function searchQuestion() {
        let serachValue = document.getElementById('search-input').value.trim()
        if (serachValue.length > 1) {
            location.href = "{% url 'question_search_base' %}" + serachValue + "/"
        } else {
            alert("검색어가 짧습니다");
        }
        }

        document.getElementById('search-input').addEventListener('keyup',
        function (event){
        if(event.key === 'Enter'){
            searchQuestion()
        }
        });

        function notYet(){
            alert("서비스 준비중입니다.")
        }
    </script>
</header>
