<div class="home__input">
    <div class="search__box" id="input-box">
        <div class="search__class" id="search__box__category" onclick=searchBox('search__category__detail')>
            <div>
                <span class="item"><b>카테고리</b><br/></span>
                <span class="detail">카테고리를 선택하세요</span>
            </div>
        </div>
        <svg width="1px" height="90%" class="partition1">
            <line x1="0" y1="10" x2="0" y2="90" />
        </svg>
        <div class="search__class" id="search__box__tag" onclick=searchBox('search__tag__detail')>
            <div>
            <span><b>태그</b><br/></span>
            <span class="detail">태그를 선택하세요</span>
            </div>
        </div>
        <svg width="1px" height="90%" class="partition2">
            <line x1="0" y1="10" x2="0" y2="90" />
        </svg>
        <div class="search__class" id="search__box__keyword" onclick=searchBox('search__keyword__detail')>
            <div>
                <span><b>검색하기</b><br/></span>
                <span class="detail">검색어를 입력하세요</span>
            </div>
            <div class="search__button">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="search__boxes">
        <div class="search__detail deactivate" id="search__category__detail">
            <h2>카테고리</h2>
            <div class="category__box">
                {% for category in categories %}
                    <a href="{{ category.get_absolute_path }}">
                        <div class="category__item">
                            <span>{{ category }}</span>
                            <span>{{ category.question_set.count }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="search__detail deactivate" id="search__tag__detail">
            <h2>태그</h2>
        </div>
        <div class="search__detail deactivate" id="search__keyword__detail">
            <h2>검색어</h2>
            <div class="form-control">
                <input class="form-control" id="search-input2" type="search" placeholder="Search" aria-label="Search">
                <button class="button search-button me-3" onclick="searchQuestion(2)">검색</button>
            </div>
        </div>
    </div>
</div>