

footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.footer-div{
    float: left;
    margin-left: 10px;
}

.footer-text{
    color: white;
    font-size: small;
    padding-top: 5px;
}

.black{
    background: black;
}

.grass{
    background-image: url(../img/grass2.png) ;
    background-size:contain;
    background-position: right;
}

footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.footer-div{
    float: left;
    margin-left: 100px;
}

.footer-text{
    color: white;
    font-size: small;
}

.black{
    background: black;
    min-height: 150px;
}