
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4% 10%;
    z-index: 1000;
    display: flex;
    align-items: baseline;
    transition: 0.5s;
}

.nav__toggle{
    visibility: hidden;
}

header.sticky
{
    background: #fff;
    padding: 2% 10%;
    box-shadow: 0 0.3125em 1.25em rgba(0,0,0,0.1);
}
header .logo
{
    color: #111;
    font-size: 1.875em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.015625em;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 1em;
    color: #111;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
header.sticky ul li button
{
    background-color:teal;
    color:wheat;
}
header.sticky ul li input
{
    background-color: wheat;
    color: teal;
}
header.sticky ul li ::placeholder
{
    color: teal;
}

.search-button{
    border: none;
    border-radius: 0.5em;
    width: 3em;
    height: 2em;
}

header a:hover
{
    color: #111;
    text-decoration: none;
}

.form-control
{
    padding: 0.5em 0.3125em;
    font-size: 1em;
    border-radius: 4px;
    border: none;
}

header .account{
    position: absolute;
    right: 6.25em;
}

#search-input{
    vertical-align: middle;
    height: 2em;
    width: 15.625em;
    font-size: 1em;
}

.menu .input-box{
    display: flex;
}

header .account{
    padding-top: 1.5rem;
}

@media screen and (max-width: 1200px){
    .input-box{
        visibility: hidden;
        height: 0;
    }
}

@media screen and (max-width: 650px){
    header{
        flex-direction: column;
        align-items: stretch;
    }

    header ul{
        display: none;
        flex-direction: column;
        position: static;
        padding-left: 0 !important;
        text-align: center;
        padding-top: 0 !important;
    }

    header ul li{
        position: static;
    }

    header ul div{
        flex-direction: column;
    }

    header ul div li a{
        width: 100% !important;
    }

    header ul div li a:hover{
        background-color: #4f5b69;
    }

    .nav-utils{
        margin-bottom: 0 !important;
    }

    header .account{
        position: static;
        padding-top: 0 !important;
    }

    .nav__toggle{
        visibility: visible;
        color: black;
    }

    .nav__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .active{
        display: flex;
    }

    header ul div li a{
        margin-top: 0.5em;
    }
}