.home__input{
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    transform: translateX(-50%);
    width:50%;
    height: 10%;
}


.home__input .search__box{
    border-radius: 40px;
    background-color: #e3e3e3;
    height: 100%;
    width: 100%;
    display: flex;
    border: solid 1px;
}

.home__input .search__box .search__class{
    border-radius: 40px;
    padding: 10px 30px;
}

.active__class{
    background-color: #fff;
    box-shadow: 0 0 3px 3px #dddddd;
}

.active__class:hover{
    background-color: #fff !important;
}

#search__box__category{
    width: 33%;
}

#search__box__tag{
    width: 30%;
}

#search__box__keyword{
    width: 37%;
}


.home__input .search__box .search__class:hover{
    background-color: #cfcfcf;
}

.search__class span{
    letter-spacing: -0.25px;
    font-size: 12px;
    line-height: 0px;
}

line{
    stroke: rgb(0,0,0);
    stroke-width: 2px;
}




.search__boxes{
    position: relative;
    z-index:1;
}
.search__boxes .deactivate{
    margin-top: 5%;
    height: 40vh;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    background: #fff;
    padding: 3% 5%;
    position: absolute;
    visibility: hidden;
    box-shadow: 5px 5px 5px gray;
}


.search__boxes .active{
    margin-top: 5%;
    height: 40vh;
    width: 100%;
    border-radius: 15px;
    background: #fff;
    padding: 3% 5%;
    position: absolute;
    visibility: visible;
    box-shadow: 0 0 3px 3px #dddddd;
}

.category__box{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 15%;
    align-content: stretch;
}

.category__box a{
    color: black;
    flex: 0 0 33%;
    text-decoration: none;
    padding-right: 10%;
}

.category__box .category__item:hover{
    background-color: #e4e4e4;
}

.category__box .category__item{
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.category__box .category__item span{
    font-size: 14px;
}

#search__keyword__detail .form-control{
    display: flex;
}

#search__keyword__detail .form-control input{
    display: flex;
    width: 80%;
}

#search__keyword__detail .form-control button{
    margin: 0 1%;
    align-self: center;
}

.home__input .search__box .search__class{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__detail .tags__box{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.search__detail .tags__box .tag{
    margin-right: 18px;
    margin-bottom: 20px;
    background: #e2ebf4;
    border-radius: 2px;
    color: black;
    padding: 0.5em 0.5em;
    text-decoration: none;
}




@media screen and (max-width: 1200px){
    .home__input #search__box__tag{
        visibility: hidden;
        display: none;
    }

    .search__box .partition1{
        visibility: hidden;
    }

    #search__box__category{
        width: 50%;
    }

    #search__box__tag{
        width: 0;
    }

    #search__box__keyword{
        width: 50%;
    }

    #search__tag__detail{
        visibility: hidden !important;
    }

    .home__input .search__boxes{
        position: absolute;
        min-width: 36.875em;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 780px){
    .home__input #search__box__category{
        visibility: hidden;
        display: none;
    }

    .search__box .partition2{
        visibility: hidden;
    }

    #search__box__category{
        width: 0;
    }

    #search__box__tag{
        width: 0;
    }

    #search__box__keyword{
        width: 100%;
    }

    #search__category__detail{
        visibility: hidden !important;
    }

    .home__input .search__boxes{
        position: absolute;
        min-width: 28em;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 450px){
    .home__input div div div .detail{
        visibility: hidden;
    }

    .home__input div .search__class{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.25em;
    }

    .home__input div div div .item{
        width: 100%;
    }
}

