


.contain-all{
    background: linear-gradient(#fafbfc 90% ,#347F80);
}

header{
    background: linear-gradient(#B5B0E2 45% ,#fafbfc);
}

.custom-logo {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    border: 5px solid teal;
    padding-left: 25px;
    padding-right: 25px;
    background-color: teal;
    color: white;
}


.nav-custom{
    padding-top: 1em;
}

.nav-custom-brand{
    position: relative;
    display: flex;
}

section h1 {
    color: white;
}


.nav-custom-branch-a{
    size: 10px;
}

.search-box{
    width: 400px;
    height: 35px;
    border-style: solid;
    border-width: 3px;
    border-color: #0c89aa;
    border-radius: 5px 10px;
    padding-left: 5px;
    padding-top: 2px;
}

.fa-search{
    color: #0c89aa;
}

.nav-link{
    color: black;
}

.navbar-brand:hover{
    color: #0c89aa;
}

#nav-search-input{
    border:none;
    border-right:0px;
    border-top:0px;
    boder-left:0px;
    boder-bottom:0px;
    width: 300px;
    margin-left: 3px;
}
body {
   margin:0;
   padding:0;
   height:100%;
    background-color: #fafbfd;
}
#main-container {
   min-height:100%;
   position:relative;
   padding-bottom:100px;
}





.clear-button{
    background-color: rgba(255, 255, 255, 1);
}


.custom-contentview-button{
    border: white;
    background-color: white;
}

.custom-cardview:visited{
    color: black;
    text-decoration: none;
}

.custom-contentview-head{
    background-color: #e9ebee;
}


.my-page{
    color: black;
}

.category-list{
    color: black;
}

.my-page:link{
    text-decoration: none;
    color: black;
}
.category-list:link{
    text-decoration: none;
    color: black;
}

.my-page:hover{
    text-decoration: none;
    color: black;
}
.category-list:hover{
    text-decoration: none;
    color: black;
}

.my-page:visited{
    text-decoration: none;
    color: black;
}

.category-list:visited{
    text-decoration: none;
    color: black;
}

.a-user-info:link{
    text-decoration: none;
    color: #0c89aa;
}

.a-user-info:hover{
    text-decoration: none;
    color: #0c89aa;
}

.a-user-info:visited{
    text-decoration: none;
    color: #0c89aa;
}

.user-status{
    font-size: small;
    color: #969696;
}

.ul-user-status{
    list-style: none;
    line-height: 50%;
}

.answer_title{
    width: 700px;
}

.answer_title{
    width :700px;
}

.link{
    text-emphasis: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.button-text{
    text-decoration: none;
}

link{
    outline: none;
}
link:hover{
    outline: none;
}
link:visited{
    outline: none;
}
link:active{
    outline: none;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}



.answer-size{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.recommand-button{
    text-decoration: none;
    color: black;
}

.recommand-button:hover{
    text-decoration: none;
    color: red;
}

.check-button{
    text-decoration: none;
    color: black;
}

.check-button:hover{
    text-decoration: none;
    color: #0c89aa;
}

.btn
{
    background-color: teal;
    border-radius: 8px;
    border: none;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 5px;
    font-size: 18px;
    color:wheat;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.card{
    min-width: 150px;
    background-color: white;
    color: black;
    border-color: teal;
    border-radius: 5px 10px;
}

.custom-cardview{
    border-style: solid;
    border-width: 3px;
    border-color: teal;
    border-radius: 5px 10px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: white;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

hr{
    border: 0;
    height: 5px;
    color: teal;
}


.custom-contentview{
    border-style: solid;
    border-width: 2px;
    border-color: teal;
    border-radius: 5px 10px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.question_form{
    width: 550px;
    margin-left: 3px;
    padding-left: 10px;
    padding-top: 3px;
}