{% extends 'question/base.html' %}

{% block head_title %}

{% endblock %}



{% block main_area %}
        {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
        {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
        {% if tag %}<span class="badge badge-list"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }}
        </span>{% endif %}

        <!-- Section-->
        <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row">
                        <div class="col-10">
                            <h1>Question</h1>
                        </div>
                        <div class="col-2">
                            {% if user.is_authenticated %}
                                {% if user.is_superuser or user.is_staff %}
                                    <a class="btn btn-info btn-sm float-right" href="/question/create_question/" role="button">
                                        <i class="fas fa-pen"></i>&nbsp;&nbsp;New Question</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for q in object_list %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    {% if q.head_img %}
                                        <img class="card-img-top" src="{{ q.head_img.url }}" alt="..." width="30" height="120"/>
                                    {% else %}
                                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                    {% endif %}
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ q.ques_title }}</h5>
                                            <!-- Product price-->
                                            <p class="card-text">{{ q.brief }}</p>
                                            <p class="card-text">{{ q.ques_point }} Point</p>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="../question/{{ q.pk }}">답변하러 가기</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </section>
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}