{% extends 'question/base.html' %}
{% block head_title %}

{% endblock %}



{% block main_area %}

    <div id="post-area" class="custom-contentview px-5">
        {% if question.category_id %}
            <span class="badge badge-secondary float-right">{{ question.category_id }}</span>
        {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h1 class="mt-2">{{ question.ques_title }}</h1>
        <p class="lead">
        by
            <a href="#" class="a-user-info">{{ question.user_id | upper }}</a>
        </p>
        <hr style="margin-right: 30px">
        <div class="row">
            <div class="col-10">
                <p>Posted on {{ question.post_date }}</p>
            </div>
            {% if user.is_authenticated and user == question.user_id %}
                <div class="col-2">
                    <a class="btn btn-info btn-sm float-right" href="/question/update_question/{{ question.pk }}/" role="button">
                        <i class="fas fa-pen"></i> Edit Post</a>
                </div>
            {% endif %}
        </div>
        <hr style=" margin-right: 30px;">
        {% if question.head_img %}
            <hr>
            <img class="img-fluid rounded" src="{{ question.head_img.url }}" alt="">
        {% endif %}
        <!-- Post Content -->
        <p>{{ question.ques_desc | safe }}</p>
        <br />
        <br />
    </div>
<hr>
<div class="comment-area" id="comment-area">
  <!-- Comments Form -->
    <div class="custom-contentview my-4" style="padding: 20px">
        <h5 class="mx-3 my-3">답변 작성하기</h5>
        <div class="search-box" style="width: 800px; height: 55px; padding-left: 30px">
            {% if user.is_authenticated %}
            <form id="comment-form" method="POST" action="{{ answer.get_absolute_url }}new_comment/">
                {% csrf_token %}
                <div class="form-group">
                </div>
                <a type="submit" style="float:right;"><i class="fas fa-pen px-3 my-3" style="color: #0c89aa"></i></a>
            </form>
            {% else %}
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#"
                   data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
            {% endif %}
        </div>
    </div>
    {% if object.answer_set.exists %}
        {% for answer in object.answer_set.iterator %}
        <!-- Single Comment -->
        <div class="media mb-4" id="answer-{{ answer.pk }}">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="{{ answer }}">
                <div class="media-body">
                    {% if user.is_authenticated and comment.author == user %}
                        <div class="float-right">
                            <a role="button" class="btn btn-sm btn-info float-right"
                                id="comment-{{ answer.pk }}-update-btn"
                                href="/blog/update_comment/{{ answer.pk }}/">
                                edit
                            </a>
                            <a role="button" href="#" id="comment-{{ answer.pk }}-delete-modal-btn"
                                class="btn btn-sm btn-danger" data-toggle="modal"
                               data-target="#deleteCommentModal-{{ answer.pk }}">
                            delete
                            </a>
                        </div>
                    {% endif %}
                        <div class="row">
                            <div class="col-9">
                                <h5 class="mt-0">{{ answer.user_id }}&nbsp;&nbsp</h5>
                            </div>
                            <div class="col-3">
                                <small class="text-muted">{{ answer.answer_date }}</small>
                            </div>
                            <p>{{ answer.answer_desc | linebreaks }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}
