.profilebox {
    border: 2px solid teal;
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
    margin-right: 10px;
    min-height: 220px;
}

.bignumber, .bigtext {
    font-size: 70px;
    font-weight: bold;
    color: teal;
    margin-top: 20px;
}

.bigtext {
    margin-top: 0px;
}

.blank-userpic, .blank-userpic-small, .blank-userpic-smallest, .blank-userpic-smallest-fill {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #F1F9FF;
}

.blank-userpic-small {
    width: 100px;
    height: 100px;
}

.blank-userpic-smallest, .blank-userpic-smallest-fill {
    width: 30px;
    height: 30px;
    background: lightblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-userpic-smallest-fill {
    background: teal;
    color: white;
    border: none;
}

.input-inside {
    position: relative;
}

.input-space, .input-btn-space {
    position: absolute;
    z-index: 10;
    margin-top: 0 !important;
}

.input-space {
    background-color: transparent !important;
    color: black !important;
    right: 10px;
    top: 2px;
}

.mypage-title {
    font-size: 50pt; 
    color: midnightblue;
}

.mypage-tag {
    font-size: 25px; 
    font-weight: bolder;
}

.font-teal {
    color: teal !important;
}

.font-midnight {
    color: midnightblue !important;
}

.font-wheat {
    color: wheat !important;
}

.font-washed {
    color: #e0e0e0 !important;
}

.border-teal {
    border-color: teal !important;
}

.border-midnight {
    border-color: midnightblue !important;
}

.bg-midnight {
    background-color: midnightblue !important;
}

/* i 태그 */

.btn-custom{
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
}

.eye-button{
    border: none;
    background-color: #f1fafe;
    border-radius: 5px;
}


/* Position and Spacing */

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.absolute-center-off {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.mt-6 {
    margin-top: 4.5rem !important;
}