{% extends 'company/base.html' %}
{% load static %}
{% block head_title %}Upadte Company{% endblock %}

{% block main_area %}
<div class="lastwrapper" style="padding-left: 10px; padding-top: 50px; padding-bottom: 50px;" >
    <div class="wrapper" style="max-width: 1200px; padding-right: 100px; padding-left: 430px;">
        <form method="post" enctype="multipart/form-data">
            <div class="container py-3">
                <h3>경력 추가</h3>
                {% csrf_token %}
                <hr style=" width: 60%;">

                    <div class="col-7">
                        <label>회사 이름:&nbsp</label>{{ form.comp_name }}
                    </div>
                    <br>
                    <div class="col-7">
                       <label>직&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp함:&nbsp</label>{{ form.comp_title }}
                       
                    </div>
                    <br>
                    <div class="col-9">
                        <label>고용 형태:&nbsp</label>{{ form.employ_type }}
                    </div>
                    <br>
                    <div class="col-9">
                        <label>입사 날짜:&nbsp</label>{{ form.join_date }}                             
                    </div>
                    <br>
                    <div class="col-9">
                        <label>퇴사 날짜:&nbsp</label>{{ form.leave_date }} 
                    </div>
                    <br>
                    <div class="col-9">
                        <label>재직중 &nbsp</label> {{ form.is_working }}
                    </div>
                    <br>
                <div align="right" style="margin-right: 80px;">
                    <button class="submit-button" type="submit" style="border-radius: 5px;">추가하기</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}