{% extends 'user/base_profile.html' %}

{% load static %}
{% load humanize %}

{% block head_title %}마이페이지{% endblock %}

{% block body_title %}포인트{% endblock %}

{% block container_main_area %}
    <div class="my-3 py-4 profilebox">
        <div class="h3">환전</div>
        <form action="" method="post" class="m-5">
            {% csrf_token %}
            <div class="my-5">
                {% if form.errors %}
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% if success %}
                    <div class="alert alert-success">{{ success }} 포인트 환전 성공!</div>
                {% endif %}
            </div>
            <div class="col-5">
                <div class="my-3">{{ form.point_type }}</div>
                <div class="my-3">{{ form.point_amount }}</div>
            </div>
            <div class="my-5">
                <div>
                    <div class="h4 mb-3">잔여 포인트</div>
                    <div class="border-top border-1 border-teal mt-1"></div>
                </div>
                
                <div class="row my-3 mx-5">
                    <div class="col-6 text-center h5">현금 포인트</div>
                    <div class="col-6 text-center h5">{{ user.account|intcomma }} 원</div>
                    <div class="border-top border-1 mt-1"></div>
                </div>
                <div class="row my-3 mx-5">
                    <div class="col-6 text-center h5">질문 포인트</div>
                    <div class="col-6 text-center h5">{{ user.ques_point|intcomma }} 포인트</div>
                    <div class="border-top border-1 mt-1"></div>
                </div>
                <div class="row my-3 mx-5">
                    <div class="col-6 text-center h5">답변 포인트</div>
                    <div class="col-6 text-center h5">{{ user.answer_point|intcomma }} 포인트</div>
                    <div class="border-top border-1 mt-1"></div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" value="submit" class="btn btn-lg btn-primary">
                    환전하기
                </button>
            </div>
            
        </form>
    </div>
{% endblock %}
