{% extends 'user/base_form.html' %}

{% load socialaccount %}

{% block head_title %}로그인 페이지{% endblock %}

{% block body_title %}로그인{% endblock %}

{% block container_main_area %}
    <form action="{% url 'login' %}" method="post" class="m-5">
        {% csrf_token %}
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <div class="my-3">{{ form.username }}</div>
        <div class="my-3 input-inside d-flex">
            {{ form.password }}
            <button type="button" class="btn input-space" id="show-password-btn">
                <i class="fas fa-eye"></i>
            </button>
        </div>
        <button class="col-sm-8 btn btn-lg mt-4 px-5" type="submit" value="submit">로그인</button>
        <div class="row justify-content-center mt-4">
            <div class="col-auto form-check text-start mb-3">
                {{ form.stay_logged_in }}
                <label class="float-left form-check-label text-muted align-middle" for="loginCheck">
                    로그인 상태 유지
                </label>
            </div>
            <div class="col-auto text-end mb-3">
                <a href="#" class="align-middle" 
                onclick="((e) => {e.preventDefault(); notFinished();})(event)">
                    비밀번호를 잊으셨나요?
                </a>
            </div>
        </div>
    </form>
    <div class="border-top border-2 mt-5"></div>
    <div class="row mt-4 pb-5 justify-content-center">
        <a href="{% provider_login_url 'google' method='oauth2' %}"
            class="col-auto btn-lg btn-primary mx-2 my-3">구글 로그인</a>
        <a href="{% provider_login_url 'kakao' method='oauth2' %}"
            class="col-auto btn-lg btn-warning mx-2 my-3">카카오 로그인</a>
        <a href="{% provider_login_url 'naver' method='oauth2' %}"
            class="col-auto btn-lg btn-success mx-2 my-3">네이버 로그인</a>
    </div>
    <div class="row mt-3 mb-5 justify-content-center">
        <div class="col-auto text-muted">회원이 아니신가요?</div>
        <a class="col-auto" href="{% url 'register' %}">회원가입</a>
    </div>
{% endblock %}