{% extends 'user/base_profile.html' %}

{% load static %}
{% load humanize %}

{% block head_title %}마이페이지{% endblock %}

{% block body_title %}{{ user.user_desc }}{% endblock %}

{% block title_btn %}
    <a href="{% url 'edit' %}">
        유저 정보 변경
    </a>
{% endblock %}

{% block container_main_area %}
    <div class="row my-3">
        <div class="col-lg-3 text-center my-auto">
            {% if user.user_pic %}
                <img class="border rounded-circle" src="{{ user.user_pic.url }}"
                    alt="유저 사진" width="200" height="200">
            {% elif user.user_pic_url %}
                <img class="border rounded-circle" src="{{ user.user_pic_url }}"
                    alt="유저 사진" width="200" height="200">
            {% else %}
                <div class="blank-userpic mx-auto"></div>
            {% endif %}
        </div>
        <div class="col-lg-4 profilebox">
            <div>채택된 답변 개수</div>
            <div class="h1 text-center bignumber">{{ chosen.count|intcomma }}</div>
        </div>
        <div class="col-lg profilebox">
            <div>누적 득표수</div>
            <div class="h1 text-center bignumber">
                {% if user.score >= 0 %}+{% endif %}{{ user.score|intcomma }}
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg profilebox">
            <div>질문 포인트</div>
            <div class="h1 text-center bignumber">
                {{ user.ques_point|intcomma }}p
            </div>
        </div>
        <div class="col-lg profilebox">
            <div>답변 포인트</div>
            <div class="h1 text-center bignumber flex-shrink-1">
                {{ user.answer_point|intcomma }}p
            </div>
        </div>
        <div class="col-lg profilebox">
            <div>현금 포인트</div>
            <div class="h1 text-center bignumber">
                {{ user.account|intcomma }}￦
            </div>
            <div class="d-flex justify-content-end">
                <a href="{% url 'exchange' %}">환전하러 가기</a>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-7 profilebox">
            <div>최근에 채택된 답변</div>
            <div class="mx-4">
                {% for answer in chosen|dictsortreversed:"answer_date" %}
                    <div class="row border border-teal rounded-pill my-4 px-2 py-1" style="position: relative;">
                        <div class="col-auto" style="font-size: 25pt; font-weight: bolder; color: #7FC4FD;">
                            {% if answer.vote_count >= 0 %}+{% endif %}{{ answer.vote_count }}
                        </div>
                        <div class="col my-auto">
                            {{ answer.question_id.ques_title }}
                        </div>
                        <div class="col my-auto d-flex justify-content-end">
                            <span class="badge rounded-pill bg-dark border p-2">채택!</span>
                        </div>
                        <a href="{% url 'res' answer.question_id.pk %}" class="stretched-link"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg profilebox">
            <div>스펙</div>
            <div class="mt-3">
                {% if university %}
                <div>
                    <div class="font-teal">학력</div>
                    <div class="border-top border-1 border-teal my-1"></div>
                    <ul>
                    {% for uni in university %}
                        <li class="py-1 text-secondary">{{ uni.uni_name }} {{ uni.uni_major }} {{uni.uni_degree}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if company %}
                <div>
                    <div class="font-teal">경력</div>
                    <div class="border-top border-1 border-teal my-1"></div>
                    <ul>
                    {% for comp in company %}
                        <li class="py-1 text-secondary">{{ comp.comp_name }} {{ comp.comp_title }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div>
                    <a class="d-flex justify-content-center py-3" href="{% url 'spec' %}">
                        자세히 보기...
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg profilebox">
            <div>최근 답변 목록</div>
            <div class="mx-4">
            {% for answer in user.answer_set.all|dictsortreversed:"answer_date" %}
                <div class="row border border-teal rounded-pill my-4 px-2 py-1" style="position: relative;">
                    <div class="col-auto" style="font-size: 25pt; font-weight: bolder; color: #7FC4FD;">
                        {% if answer.vote_count >= 0 %}+{% endif %}{{ answer.vote_count }}
                    </div>
                    <div class="col my-auto">
                        {{ answer.question_id.ques_title }}
                    </div>
                    <div class="col my-auto d-flex justify-content-end">
                        {% if answer.is_chosen %}
                            <span class="badge rounded-pill bg-dark border p-2">채택!</span>
                        {% endif %}
                    </div>
                    <a href="{% url 'res' answer.question_id.pk %}" class="stretched-link"></a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}