{% extends 'user/base_form.html' %}
{% load i18n %} 

{% block head_title %}회원가입 페이지{% endblock %}

{% block body_title %}회원가입{% endblock %}

{% block container_main_area %}
    <div class="row justify-content-center my-5">
        {% for _ in ''|center:wizard.steps.count %}
            <div class="col-auto mx-2">
                {% if wizard.steps.step1 >= forloop.counter %}
                    <div class="blank-userpic-smallest-fill">{{ forloop.counter }}</div>
                {% else %}
                    <div class="blank-userpic-smallest">{{ forloop.counter }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <form action="" method="post" class="m-5">
        {% csrf_token %}
        <div>
            {{ wizard.management_form }}
            {% if wizard.form.errors %}
                {{ wizard.form.management_form }}
                {% for field, errors in wizard.form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if wizard.steps.step1 == 1 %}
                <div class="my-3">{{ wizard.form.username }}</div>
                <div class="my-3">{{ wizard.form.password }}</div>
                <div class="my-3">{{ wizard.form.password_again }}</div>
            {% elif wizard.steps.step1 == 2 %}
                <div class="my-3">{{ wizard.form.user_desc }}</div>
                <div class="my-3">{{ wizard.form.birth_date }}</div>
                <div class="border-top border-2 my-4"></div>
                <div class="my-3 input-group input-inside">
                    {{ wizard.form.email }}
                    <button type="button" class="btn btn-primary rounded input-space" id="show-password-btn">
                        인증
                    </button>
                </div>
            {% endif %}
        </div>
        <button class="col-md-8 btn-lg btn-primary mt-4" type="submit" value="{% trans 'submit' %}">다음 단계</button>
    </form>
    {% if wizard.steps.step1 == 1 %}
        <div class="border-top border-2 mt-5"></div>
        <div class="d-grid mx-5 mt-4 pb-5">
            <button class="btn-lg btn-warning my-2">카카오톡 아이디로 회원가입</button>
            <button class="btn-lg btn-primary my-2">구글 아이디로 회원가입</button>
            <button class="btn-lg btn-success my-2">네이버 아이디로 회원가입</button>
        </div>
    {% endif %}
{% endblock %}