{% extends 'user/base_form.html' %}

{% block head_title %}유저 정보 변경 페이지{% endblock %}

{% block body_title %}유저 정보 변경{% endblock %}

{% block container_main_area %}
    
    <ul class="nav nav-tabs my-5 pt-3">
        <li class="nav-item" id="password-tab">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#password" href="#password">
                비밀번호 변경
            </a>
        </li>
        <li class="nav-item" id="other-tab">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#other" href="#other">
                세부정보 변경
            </a>
        </li>
    </ul>

    <div>
        {% if form2.errors %}
            {% for field, errors in form2.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if form1.errors %}
            {% for field, errors in form1.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if success %}
            <div class="alert alert-success">저장 성공!</div>
        {% endif %}
    </div>

    <div class="tab-content pb-5">
        <div class="tab-pane container active" id="password">
            <form action="{% url 'edit' %}" method="post" class="m-5">
                {% csrf_token %}
                <div class="">
                    <label class="h5">비밀번호 변경</label>
                    <div class="my-2">{{ form1.username }}</div>
                    <div class="my-2 input-group input-inside">
                        {{ form1.password }}
                        <button type="button" class="btn input-space" id="show-password-btn">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <div class="my-2">{{ form1.password_again }}</div>
                </div>
                <button type="submit" name="password_change" value=1
                    class="col-md-8 btn-lg btn-primary mt-4">저장</button>
            </form>
        </div>
        <div class="tab-pane container" id="other">
            <form action="{% url 'edit' %}" method="post" class="m-5">
                {% csrf_token %}
                <div class="my-5">
                    <label class="h5">닉네임 변경</label>
                    <div class="my-2">{{ form2.user_desc }}</div>
                </div>
                <div class="my-5">
                    <label class="h5">이메일 변경</label>
                    <div class="my-2">{{ form2.email }}</div>
                </div>
                <div class="my-5">
                    <label class="h5">생년월일 변경</label>
                    <div class="row my-2">
                        <div class="col">{{ form2.birth_year }}</div>
                        <div class="col">{{ form2.birth_month }}</div>
                        <div class="col">{{ form2.birth_day }}</div>
                    </div>
                </div>
                <button type="submit" name="other_change" value=1
                class="col-md-8 btn-lg btn-primary mt-4">저장</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}