<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
</head>
<body>
    <h1>Answer</h1>
    <div><a href="{% url 'new' %}">답변 작성하기</a></div>
    <div>
        {% for answer in answers %}
            {{answer.answer_title}}
            {{answer.answer_desc}}
        {% endfor %}
    </div>
    <div><a href="{%url 'edit' %}"></a> 수정하기 </div>
</body>
</html>