.question__article{
    display: none;
}

#main-container{
    margin-top: 10em;
}

.question__detail .title{
    display: flex;
    align-items: flex-start;
}
.question__detail .title h1{
    margin-right: 5px;
}

.question__detail .question__title__util span{
    background-color: teal;
    color: wheat;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    padding: 8px 5px;
    font-size: 18px;
}

.question__detail .question__title__util{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

#post-area .top__row{
    display: flex;
    justify-content: space-between;
}

#post-area .top__row .author{
    display: flex;
    align-items: center;
}

.a-user-info{
    font-size: 1.5rem;
}

.question__detail .title .q{
    color: teal;
    margin-right: 2%;
    font-size: 3em;
}

.question__detail .title div h1{
    font-size: 1.5em;
    margin-bottom: 0 !important;
}

.question__detail .title img{
    margin-right: 1em;
}

.question__detail .content-box{
    padding: 2% 5%;
}

.question__detail hr{
    margin: 0 !important;
}

.mid__row{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1% 0;
}

.mid__row p{
    margin-bottom: 0 !important;
}

#post-area div .mid__row .update a{
    margin: 0 !important;
}

#post-area div .mid__row div p{
    margin: 0 !important;
}

#post-area div .mid__row .update .btn{
    background-color: teal;
    border-radius: 3px;
    border: none;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 5px;
    font-size: 18px;
    color: wheat;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

#post-area div .mid__row .update .btn:hover{
    color:#212529;
}

#post-area .content__row{
    padding: 1% 0;
    display: flex;
}

#post-area div .division__row{
    font-size: 0.8rem;
}

#post-area div .division__row .category__link a{
    color: #3767e8 !important;
}

#post-area div .division__row a i{
    margin-right: 2px;
}


#post-area div .division__row .category__link a:hover{
    text-decoration: solid underline #3767e8;
}

#post-area div .division__row{
    display: flex;
    align-items: baseline;
}

#post-area div .division__row .tags{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

#post-area div .division__row .tags .tag{
    margin-right: 10px;
    margin-bottom: 8px;
    background: #e2ebf4;
    border-radius: 2px;
    color: black;
    padding: 0.5em 0.5em;
}

#post-area div .division__row .part__division{
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    margin: 0 1.5%;
}

.side-bar{
    margin-top: 0 !important;
}

#post-area{
    padding-top: 0;
}

#self-box{
    margin-top: 0 !important;
}

#answer__form{
    padding: 0 !important;
}

.answer__button__row{
    position: relative;
    min-height: 2em;
}

.answer__button__row button{
    position: absolute;
    right: 0;
    margin-top: 0 !important;
}

.answer__button__row a{
    position: absolute;
    right: 0;
    margin-top: 0 !important;
}

.btn{
    background-color: teal;
    border-radius: 3px;
    border: none;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 5px;
    font-size: 18px;
    color: wheat;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn:hover{
    color: #212529;
}

.answer__top__row{
    display: flex;
    justify-content: space-between;
}

.answer__utils{
    position: relative;
}

.answer__utils__top{
    display: flex;
    position: absolute;
    right: 0;
}

.answer__utils__down{
    position: absolute;
    right: 0;
    bottom: 30%;
}

.content__row{
    min-height: 15em;
    vertical-align: middle;
}

.content__row span{
    vertical-align: middle;
}

.bottom__row{
    position: relative;
}

.comment__button__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
}

#comment_button:hover{
    color: #3767e8;
}

.vote__active__button{
    color: #000;
    margin-left: 0.8em;
}

.vote__active__button:hover{
    color: #ef7c91;
    margin-right: 5px;
}


.vote__deactive__button{
    color: #ef7c91;
    margin-left: 0.8em;
}

.vote__deactive__button:hover{
    color: #000;
}

.comment__area{
    display: none;
}

.active{
    display: block;
}

.comment__area form{
    margin-bottom: 1em;
}

.comment__area textarea{
    resize: none;
    height: 100px;
}

.comment__submit{
    display: flex;
    justify-content: flex-end;
}

.comment__division{
    margin-bottom: 5px;
}

.comment__contain{
    padding: 1% 2%;
}

.comment__author{
    margin-bottom: 0.8em;
}

.comment__content{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
}

.comment__date{
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.2em;
}

#comment-area{
    padding-bottom: 3%;
}

.tags a{
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 779px){
    .answer__top__row{
    display: flex;
    justify-content: space-between;
}

.answer__utils{
    position: relative;
}

.answer__utils__top{
    display: flex;
    position: absolute;
    right: 0;
}

.answer__utils__down{
    position: absolute;
    right: 0;
    bottom: 30%;
}
}

@media screen and (max-width: 1024px){

    .answer__utils__top{
        flex-direction: column;
    }

    .answer__utils__top{
    display: flex;
    position: static;
}

    .answer__utils__down{
        position: static;
    }
}