{% extends 'university/base.html' %}

{% block head_title %}Upadte University{% endblock %}


<head>
    <title>University</title>
</head>

<body>
    
    <div class="wrapper">
        <div class="container">
            {% block main_area %}
                <h3 >학력 추가</h3>
                
                <hr style=" width: 60%;">
                <br>
                <form method="post">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                
                <br>
                <div style="padding-left: 215px;">
                    <button type="submit" style="border-radius: 5px;">Submit</button>
                </div>
                
            </form>
            {% endblock %}
        </div>
    </div>
</body>